#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.label {
  color: #888;
  margin: 0.5em 0;
}

.input {
  padding: 0.7em 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 1em 0;
}

.story-container {
  width: 600px;
  margin: 2em auto 1em;
}

.character-name {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 1em;
}

.speech {
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.story-info {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #646cff;
  border-radius: 8px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
}

.tag {
  padding: 1px 0.5em;
  border-radius: 8px;
  color: #414141;
  background-color: #ebebeb;
  font-size: 0.7em;
}

.tag-active {
  color: #fff;
  background-color: #646cff;
}

.tag-interacted {
  color: #fff;
  background-color: #a3a8fd;
}

.primary {
  color: #fff;
  background-color: #646cff;
}

.scene-card-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scene-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.caracter-image {
  height: 120px;
  object-fit: cover;
}
