@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #e7e7e7;
}

body {
  max-width: 70%;
  margin: auto;
  padding: 50px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  font-family: monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  display: inline-block;
  border-right: 3px solid black;
  animation: typing 3s steps(30, end) forwards, blink 0.8s infinite;
}
